body{
    background-image: url(./image/blackjack\ image.jpg);
    background-size: cover;
text-align: center;
}
button{
    background-color: gold;
    border-radius: 2px;
    padding: auto;
    width: 150px;
    height: auto;
    color: white;
   
    margin-bottom: 10px;
}
#message-el{
    color:black;
    font: 40px;
}
button{
    color:red;
    border-radius: 10px;
}
