body{
    background-image: url(./image/blackjack\ image.jpg);
    background-size: cover;
text-align: center;
position: relative;
}
button{
    background-color: gold;
    border-radius: 2px;
    padding: auto;
    width: 150px;
    height: auto;
    color: white;
   
    margin-bottom: 10px;
}

#message-el{
    color:black;
    font: 40px;
}
button{
    color:red;
    border-radius: 10px;
}
/*The designing of the cards*/



#card2{
color: red;

}

#card4{
color: red;
}

#card6{
color: red;
}

#card8{
color: red;
}

#card10{
color: red;

}
#card1,#card2,#card3,#card4,#card5,#card6,#card7,#card8,#card9,#card10,#card11{
   
    
text-align: center;
    margin-bottom: 0.2rem;
margin-right: 0.5rem;

    
    
}
 #card10,#card2,#card1,#card3,#card4,#card5,#card6,#card7,#card8,#card9,#card11{
    border-top: 100px solid red;
    border-bottom: 100px solid red;
    border-right: 50px solid red;
    border-left: 50px solid red;
    border-color: white;
    background-color: white;
    
}

#sumDisplay{
    margin-top: 7rem;
    margin-bottom: 0.5rem;
}
.cardsHeader{
    margin-bottom: 7rem;
}

